@robinrezwan:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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


GitHub Packages: Your packages, at home with their code
https://npm.pkg.github.com
